:root {
  --primary: hsl(25, 81%, 54%);
  --secondary: #ebebeb;
  --dark: #000000;
  --light: #ffffff;
  --footer: #3b3f4a;
}
@import "components/root";
@import "components/header";
@import "components/main";
@import "components/jobs";
@import "components/about";
@import "components/testimonials";
@import "components/careers";
@import "components/insights";
@import "components/footer";
